<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="masterBuildAgentTransportServer"
        class="org.apache.continuum.distributed.transport.master.MasterBuildAgentTransportServer"/>

  <bean id="slaveBuildAgentTransportServer"
        class="org.apache.continuum.distributed.transport.slave.SlaveBuildAgentTransportServer">
    <constructor-arg ref="continuumBuildAgentService"/>
  </bean>

  <bean name="xmlrpcServicesList" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <ref bean="slaveBuildAgentTransportServer"/>
        <ref bean="masterBuildAgentTransportServer"/>
      </list>
    </constructor-arg>
  </bean>

</beans>
