<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="loggerManager" class="org.codehaus.plexus.logging.slf4j.Slf4jLoggerManager"
    init-method="initialize"/>

  <bean id="propertyConfigurer" 
         class="org.codehaus.plexus.spring.PlexusServletContextPropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>classpath:plexus.properties</value>
      </list>
    </property> 
    <!-- ignore if plexus.properties not found -->
    <property name="ignoreResourceNotFound">
      <value>true</value>
    </property>  
    <!-- ignore if a interpolated key not exists -->
    <property name="ignoreUnresolvablePlaceholders">
      <value>true</value>
    </property> 
  </bean>
  
  <bean id="scmManager"
    class="org.apache.continuum.scm.manager.ScmManager">
    <!--  TODO: better way to add the providers without having to redeclare all this? -->
    <property name="scmLogger" ref="scmLogger" />
    <property name="scmProviders">
      <map>
        <entry key="svn">
          <bean
            class="org.apache.maven.scm.provider.svn.svnexe.SvnExeScmProvider" />
        </entry>
        <entry key="bazaar">
          <bean
            class="org.apache.maven.scm.provider.bazaar.BazaarScmProvider" />
        </entry>
        <entry key="clearcase">
          <bean
            class="org.apache.maven.scm.provider.clearcase.ClearCaseScmProvider" />
        </entry>
        <entry key="cvs">
          <bean
            class="org.apache.maven.scm.provider.cvslib.cvsjava.CvsJavaScmProvider" />
        </entry>
        <entry key="cvs_native">
          <bean
            class="org.apache.maven.scm.provider.cvslib.cvsexe.CvsExeScmProvider" />
        </entry>
        <entry key="local">
          <bean
            class="org.apache.maven.scm.provider.local.LocalScmProvider" />
        </entry>
        <entry key="perforce">
          <bean
            class="org.apache.maven.scm.provider.perforce.PerforceScmProvider" />
        </entry>
        <entry key="starteam">
          <bean
            class="org.apache.maven.scm.provider.starteam.StarteamScmProvider" />
        </entry>
        <entry key="synergy">
          <bean
            class="org.apache.maven.scm.provider.synergy.SynergyScmProvider" />
        </entry>
        <entry key="vss">
          <bean
            class="org.apache.maven.scm.provider.vss.VssScmProvider" />
        </entry>
      </map>
    </property>
  </bean>
  
</beans>
