<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">

  <display-name>Continuum Webapp</display-name>

  <context-param>
    <param-name>extremecomponentsPreferencesLocation</param-name>
    <param-value>/extremecomponents.properties</param-value>
  </context-param>

  <context-param>
    <param-name>extremecomponentsMessagesLocation</param-name>
    <param-value>localization/Continuum</param-value>
  </context-param>

<!--
  Not integrated with plexus
  <filter>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
    </init-param>
  </filter>
-->

  <filter>
    <filter-name>Acegi HttpSessionContextIntegrationFilter</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.context.HttpSessionContextIntegrationFilter</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Acegi AuthenticationProcessingFilter</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.ui.webapp.AuthenticationProcessingFilter</param-value>
    </init-param>
  </filter>

<!--
  <filter>
    <filter-name>Acegi RememberMeProcessingFilter</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.ui.rememberme.RememberMeProcessingFilter</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Acegi AnonymousProcessingFilter</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.providers.anonymous.AnonymousProcessingFilter</param-value>
    </init-param>
  </filter>
-->

  <filter>
    <filter-name>Acegi ExceptionTranslationFilter</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.ui.ExceptionTranslationFilter</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>Acegi FilterSecurityInterceptor</filter-name>
    <filter-class>org.apache.maven.continuum.web.filter.FilterToComponentProxy</filter-class>
    <init-param>
      <param-name>component</param-name>
      <param-value>org.acegisecurity.intercept.web.FilterSecurityInterceptor</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>webwork-cleanup</filter-name>
    <filter-class>com.opensymphony.webwork.dispatcher.ActionContextCleanUp</filter-class>
  </filter>

  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>

  <filter>
    <filter-name>webwork</filter-name>
    <filter-class>com.opensymphony.webwork.dispatcher.FilterDispatcher</filter-class>
  </filter>

<!--
  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
-->

  <filter-mapping>
    <filter-name>Acegi HttpSessionContextIntegrationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Acegi AuthenticationProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--
  <filter-mapping>
    <filter-name>Acegi RememberMeProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Acegi AnonymousProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
-->

  <filter-mapping>
    <filter-name>Acegi ExceptionTranslationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>Acegi FilterSecurityInterceptor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>webwork-cleanup</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>webwork</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.codehaus.plexus.xwork.PlexusLifecycleListener</listener-class>
  </listener>

  <taglib>
    <taglib-uri>continuum</taglib-uri>
    <taglib-location>/WEB-INF/continuum.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>sitemesh-page</taglib-uri>
    <taglib-location>/WEB-INF/sitemesh-page.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>sitemesh-decorator</taglib-uri>
    <taglib-location>/WEB-INF/sitemesh-decorator.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tld/extremecomponents</taglib-uri>
    <taglib-location>/WEB-INF/extremecomponents.tld</taglib-location>
  </taglib>

  <error-page>
    <error-code>403</error-code>
    <location>/error/error.jsp?id=403</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error.jsp?id=404</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/error.jsp?id=500</location>
  </error-page>

</web-app>
