<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="masterBuildAgentTransportService" class="org.apache.continuum.distributed.transport.master.DefaultMasterBuildAgentTransportService"/>
  
  <bean id="slaveBuildAgentTransportService" class="org.apache.continuum.distributed.transport.slave.DefaultSlaveBuildAgentTransportService">
    <constructor-arg ref="continuumBuildAgentService"/>
  </bean>
  
  <bean id="continuumBuildAgentService" class="org.apache.continuum.buildagent.ContinuumBuildAgentServiceImpl">
    <property name="configurationService" ref="configurationService"/>
  </bean>
  
  <bean id="configurationService" class="org.apache.continuum.buildagent.configuration.DefaultConfigurationService">
    <property name="configuration" ref="continuumConfiguration" />
  </bean>
  
  <bean id="continuumConfiguration" class="org.apache.continuum.buildagent.configuration.DefaultContinuumConfiguration">
    <property name="configurationFile" value="file:${appserver.base}/conf/continuum.xml" />
  </bean>
  
  <bean name="xmlrpcServicesList" class="java.util.ArrayList">
    <constructor-arg>
      <list>
        <ref bean="slaveBuildAgentTransportService"/>
        <ref bean="masterBuildAgentTransportService"/>
      </list>
    </constructor-arg>
  </bean>
  
</beans>
