<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!-- Log4j Configuration -->
<!-- ===================================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
  debug="false">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%c{1}.%M](%L) %m%n"/>
    </layout>
  </appender>

  <!-- quiet spring loading :-) -->
  <category name="org.springframework">
    <priority value="ERROR"/>
  </category>
  <category name="org.codehaus.plexus">
    <priority value="ERROR"/>
  </category>
  <category name="org.apache.continuum.configuration">
    <priority value="DEBUG"/>
  </category>

  <category name="org.apache.commons.configuration">
    <priority value="ERROR"/>
  </category>

  <!-- JPOX -->
  <category name="JPOX">
    <priority value="WARN"/>
  </category>
  <category name="JPOX.RDBMS">
    <priority value="ERROR"/>
  </category>

  <root>
    <priority value="INFO"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</log4j:configuration>
